
.k-webmentions-view {
.wrapper {
        background: #fff;
        box-shadow: var(--box-shadow-item);
        padding: 10px 20px;
        margin-top: var(--spacing-6);
}
.muted {
        color: light-dark(var(--color-gray-600), var(--color-gray-700));
}
.shortened-text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80ch;
}
h2 {
        font-size: var(--text-3xl);
        margin: 2em 0 1em 0;
}
.center-icon {
        display: flex;
        justify-content: center;
svg {
            display: inline-block;
}
}
.group-label {
        background-color: light-dark(var(--color-blue-700), var(--color-blue-800));
        color: var(--color-white);
        padding: 2px 5px;
        border-radius: var(--rounded-md);
}
}

.k-webmentions-view {
.source-entry {
        display: flex;
        gap: 10px;
        align-items: center;
        color: light-dark(var(--color-black), var(--color-white));
        text-decoration: none;
}
.source-type-icon {
        width: 25px;
        height: 25px;
        color: light-dark(var(--color-gray-500), var(--color-gray-250));
}
}

.k-webmentions-view {
.target {
        margin-left: 20px;
        color: light-dark(var(--color-gray-700), var(--color-white));
}
.source {
        font-weight: bold;
        text-decoration: none;
}
}

.k-webmentions-queue-view {
.wrapper {
        background: #fff;
        box-shadow: var(--box-shadow-item);
        padding: 10px 20px;
        margin-top: var(--spacing-6);
}
.muted {
        color: light-dark(var(--color-gray-600), var(--color-gray-300));
}
h2 {
        font-size: var(--text-3xl);
        margin: 2em 0 1em 0;
}
.bottom-margin {
        margin-bottom: var(--spacing-6);
}
.status {
        border: 1px solid var(--color-gray-400);
        background-color: light-dark(var(--color-gray-200), var(--color-gray-700));

        border-radius: var(--rounded-md);
        padding: var(--spacing-1) var(--spacing-2);
&.error {
            border: 1px solid var(--color-red-400);
            background-color: light-dark(var(--color-red-600), var(--color-red-300));
}
&.running {
            border: 1px solid var(--color-blue-400);
            background-color: light-dark(var(--color-blue-600), var(--color-blue-300));
}
&.failed {
            border: 1px solid var(--color-red-600);
            background-color: light-dark(var(--color-red-600), var(--color-red-300));
}
&.success {
            border: 1px solid var(--color-green-400);
            background-color: light-dark(var(--color-green-600), var(--color-green-300));
}
}
}

/* optional scoped styles for the component */

.k-webmentions-status-view {
.wrapper {
        background: #fff;
        box-shadow: var(--box-shadow-item);
        padding: 10px 20px;
        margin-top: var(--spacing-6);
}
.muted {
        color: light-dark(var(--color-gray-600), var(--color-gray-300));
}
.icon {
        display: flex;
        align-items: center;
        justify-content: center;
}
h2 {
        font-size: var(--text-3xl);
        margin: 2em 0 1em 0;
}
h3 {
        font-size: var(--text-xl);
        margin: 2em 0 1em 0;
}
.bottom-margin {
        margin-bottom: var(--spacing-6);
}
}
